@model PageModel
@{
    ViewData["Title"] = Model.PageName;
    Layout = "~/Views/Master.cshtml";
}

<div class="interior cf">
    <div class="inner">
        @Html.Raw(Model.Content)
    </div>
</div>