<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AuthyApiKey" value="" />
    <add key="ReCaptchaSecretKey" value=""/>
    <add key="ReCaptchaSiteKey" value=""/>
    <add key="SESAccessKey" value=""/>
    <add key="SESSecret" value=""/>
    <add key="MailChimpApiKey" value=""/>
    <add key="MailChimpListID" value=""/>
  </appSettings>
  <connectionStrings configSource="connection.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <!-- For use on server with secure connection -->
    <anonymousIdentification cookieName="kpfwAnonymous" enabled="true" cookieRequireSSL="true" />
	<!-- For use on local without secure connection -->
    <!--<anonymousIdentification cookieName="kpfwAnonymous" enabled="true" cookieRequireSSL="false" />-->
    <authentication mode="Forms">
	  <!-- For use on server with secure connection -->
      <forms name="kpfwAuth" loginUrl="Login" protection="All" timeout="30" path="/" cookieless="UseCookies" requireSSL="true" />
	  <!-- For use on local without secure connection -->
      <!--<forms name="kpfwAuth" loginUrl="Login" protection="All" timeout="30" path="/" cookieless="UseCookies" requireSSL="false" />-->
    </authentication>
    <authorization>
      <allow users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect">
      <error redirect="~/404.html" statusCode="404" />
      <error redirect="~/500.html" statusCode="500" />
    </customErrors>
    <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-US" uiCulture="en" />
	<!-- For use on server with secure connection -->
    <httpCookies requireSSL="true" />
	<!-- For use on local without secure connection -->
    <!--<httpCookies requireSSL="false" />-->
    <httpRuntime enableVersionHeader="false" maxRequestLength="20480" requestPathInvalidCharacters="&lt;,&gt;,*,%" requestValidationMode="4.5" />
    <membership userIsOnlineTimeWindow="20">
      <providers>
        <add name="MyProvider" type="kpfw.MyMembershipProvider" />
      </providers>
    </membership>
    <pages clientIDMode="AutoID">
      <controls>
        <add tagPrefix="robo" namespace="Robo" assembly="Robo" />
      </controls>
    </pages>
    <profile>
      <providers>
        <add name="MyProfileProvider" type="kpfw.MyProfileProvider" />
      </providers>
      <properties>
        <add name="UserName" type="System.String" allowAnonymous="true" />
        <add name="UserEmail" type="System.String" allowAnonymous="true" />
        <add name="JoinDate" type="System.DateTime" allowAnonymous="true" />
        <add name="DisplayName" type="System.String" allowAnonymous="true" />
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <add name="MyRoleProvider" adminLogin="Administrator,ahwm" type="kpfw.MyRoleProvider" />
      </providers>
    </roleManager>
    <sessionState cookieName="kpfwSession" />
    <machineKey decryptionKey="9E638E2417DE967B6DAEB79BCEB41A4C983D35F5E83A16BF,IsolateApps" decryption="3DES" validation="HMACSHA256" validationKey="B6C6E6962658A892C6B58C46E726110D6A0E5917D514F646B7B16B7D8A7F1FF00286EAB7249D9BD99E23D3D58D873CBF7BD53725116003B695958243FCBC9962,IsolateApps" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="HttpModule" type="kpfw.HttpModule" />
    </modules>
    <handlers>
      <add name="sitemap" verb="GET,HEAD" path="sitemap.asmx" type="kpfw.SitemapHandler" />
    </handlers>
    <httpErrors existingResponse="Auto" defaultResponseMode="File">
      <remove statusCode="500" />
      <remove statusCode="404" />
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="Require HTTPS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" negate="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/?.well-known" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
        <rule name="Require WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^kpfanworld.com" />
          </conditions>
          <action type="Redirect" url="https://www.kpfanworld.com{REQUEST_URI}" appendQueryString="false" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="HTTP Strict Transport Security">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Rewrite" value="max-age=63072000;includeSubDomains;preload" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="contact@kpfanworld.com">
        <network defaultCredentials="false" host="email-smtp.us-west-2.amazonaws.com" password="" userName="" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>