@model string
@{ 
    Layout = "~/Views/Master.cshtml";
}

<div class="interior cf">
    <div class="inner">
        <h1>Oops!</h1>
        <p>That page (@Model) wasn't found. It might be a really old link that has been moved or died.</p>
        <p>If you think this is in error, let us know by emailing us at <a href="mailto:contact@kpfanworld.com">contact@kpfanworld.com</a> or filling out our <a href="/Contact">contact form</a>.</p>
        <p>We apologize for the inconvenience!</p>
    </div>
</div>