@model  EpisodeViewModel
@using kpfw.Models;
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Master.cshtml";
}
@section Meta {

}

<h1>@Model.Title</h1>

@section Scripts {

}