@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Donate";
    Layout = "~/Views/Master.cshtml";
    var settings = Configuration.GetSection("Kpfw").Get<KpfwSettings>();
}

<div class="interior cf">
    <div class="inner cf">
        <h1>Donate</h1>
        <p>We need your help. We're fans, too. But we can't keep this running alone. We have to pay for the hosting. We have to pay for the CDN for the screencaps. We had to buy the episodes in order to make screen caps.</p>
        <p>Our costs are low right now. Website and database hosting is being donated for the time being. But we gotta pay the CDN costs and those are going up as we add more content. We love to do that. But we need you to help us.</p>
        <p>Our goal for 2024 is $100. This will go toward CDN costs and help support ongoing development.</p>
        <h2>Progress</h2>
        <p>Goal: $100</p>
        <p>Earned: $20</p>
        <p>Remaining: $80</p>
        <div class="btn">
            <a href="https://donate.stripe.com/14k5ksaqXgMEczS148" target="_blank" rel="nofollow">DONATE Once</a>
        </div>
        <div class="btn">
            <a href="https://buy.stripe.com/aEU4go2Yv2VOdDW9AB" target="_blank" rel="nofollow">DONATE $5 Monthly</a>
        </div>
        <div class="btn">
            <a href="https://buy.stripe.com/dR6bIQ7eLaog8jC3ce" target="_blank" rel="nofollow">DONATE $10 Monthly</a>
        </div>
        <p style="font-size: 0.8em;">Unfortunately due to increases in fees, we've had to stop accepting PayPal. If you want to support us but one of these options isn't available to you, reach out and we'll see what we can do.</p>
        <div class="item cf mt-10">
            <h2>Other Ways to Support Us</h2>
            <p>Here are also some additional options to donate:</p>
            <ul>
                <li><a href="https://github.com/sponsors/ahwm" target="_blank" rel="nofollow">Become a GitHub Sponsor</a></li>
                <li><a href="https://opencollective.com/kp-fan-world" target="_blank" rel="nofollow">Open Collective</a></li>
                <li><a href="https://venmo.com/u/ahwm23" target="_blank" rel="nofollow">Venmo</a></li>
                <li>Apple Cash: 2087150103 (via iMessage)</li>
                <li><a href="https://enroll.zellepay.com/qr-codes?data=eyJ0b2tlbiI6ImFkYW1AYWRhbWgudXMiLCJuYW1lIjoiQWRhbSJ9" target="_blank" rel="nofollow">Zelle</a></li>
                <li>Contribute changes on <a href="https://github.com/TheScripters/kpfw" target="_blank" rel="nofollow">GitHub</a></li>
            </ul>
            @* <p>* Contact us for details</p> *@
        </div>
        @*<h2>No PayPal?</h2>
        <p>If you don't have (or don't want to use) PayPal, use this form to use a credit/debit card.</p>
        <div class="item cf">
            <div class="item cf">
                <div class="onethirdi">
                    <label>Amount:</label>
                </div>
            </div>
            <div class="item cf">
                <div class="onethirdi"></div>
            </div>
            <div class="item cf"></div>
        </div>*@
        <p>By donating, you'll get a big "Thank You" from us and your name on the <a href="/About">About page</a>. As we get farther along we'll add other perks, as well.</p>
        <p>Anything we get over our goal will go toward doing fun things like giveaways, special events, and other fun things that cost money.</p>
    </div>
</div>

@section Scripts {
    @*<script>
        grecaptcha.ready(function () {
            document.getElementById('donateform').addEventListener("submit", function (event) {
                grecaptcha.execute('@settings.ReCaptcha3SiteKey', { action: 'done' }).then(function (token) {
                    document.getElementById('g-recaptcha-verify').value = token;
                    document.getElementById('contactForm').submit();
                });
            });
        });
    </script>*@
}