@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Donate";
    Layout = "~/Views/Master.cshtml";
    var settings = Configuration.GetSection("Kpfw").Get<KpfwSettings>();
}

<div class="interior cf">
    <div class="inner cf">
        <h1>Donate</h1>
        <p>We need your help. We're fans, too. But we can't keep this running alone. We have to pay for the hosting. We have to pay for the CDN for the screencaps. We had to buy the episodes in order to make screen caps.</p>
        <p>Our costs are low right now. Website and database hosting is being donated for the time being. But we gotta pay the CDN costs and those are going up as we add more content. We love to do that. But we need you to help us.</p>
        <p>Our goal for 2020 is $100. This will go toward CDN costs and help support ongoing development.</p>
        <h2>Progress</h2>
        <p>Goal: $100</p>
        <p>Earned: $70</p>
        <p>Remaining: $30</p>
        <div class="btn">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HP2Y3FTWVA87N">DONATE</a>
        </div>
        @*<h2>No PayPal?</h2>
        <p>If you don't have (or don't want to use) PayPal, use this form to use a credit/debit card.</p>
        <div class="item cf">
            <div class="item cf">
                <div class="onethirdi">
                    <label>Amount:</label>
                </div>
            </div>
            <div class="item cf">
                <div class="onethirdi"></div>
            </div>
            <div class="item cf"></div>
        </div>*@
        <p>By donating, you'll get a big "Thank You" from us and your name on the <a href="/About">About page</a>. As we get farther along we'll add other perks, as well.</p>
        <p>Anything we get over our goal will go toward doing fun things like giveaways, special events, and other fun things that cost money.</p>
    </div>
</div>

@section Scripts {
    @*<script>
        grecaptcha.ready(function () {
            document.getElementById('donateform').addEventListener("submit", function (event) {
                grecaptcha.execute('@settings.ReCaptcha3SiteKey', { action: 'done' }).then(function (token) {
                    document.getElementById('g-recaptcha-verify').value = token;
                    document.getElementById('contactForm').submit();
                });
            });
        });
    </script>*@
}